<div class="input-group">
    <select class="form-control" placeholder="<%- placeholder %>"></select>
    <div class="input-group-btn valign-top">
        <button type="button" class="btn btn-danger remove_btn" tabindex="-1"><i class="fa fa-fw fa-trash"></i></button>
    </div>
</div>
