<div class="input-group append-xs-tiny">
    <input type="text" class="form-control value" value="<%- value %>">
    <div class="input-group-btn">
        <button type="button" class="btn btn-danger remove_btn" tabindex="-1"><i class="fa fa-fw fa-trash"></i></button>
    </div>
</div>
