<section id="select_poi_column" class="column left white">
    <header>
        <button type="button" class="btn btn-link btn-lg pull-right close_btn">
            <i class="fa fa-close"></i>
        </button>

        <h2 data-l10n-id="selectLayerColumn_title"></h2>
    </header>

    <div class="container-fluid content">
        <div class="row">
            <div class="col-xs-12">
                <button type="button" class="btn btn-default btn-block download_btn" data-l10n-id="selectLayerColumn_downloadData"></button>
                <div class="rg_list prepend-xs-1"></div>
            </div>
        </div>
    </div>
</section>
