{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current",
          "browsers": "> 1%"
        },
        "useBuiltIns": true
      }
    ],
    "stage-0"
  ],
  "plugins": [
    [
      "babel-plugin-webpack-alias",
      {
        "config": "./webpack.config.js"
      }
    ]
  ]
}
