{
    "parser": "babel-eslint",
    "ecmaFeatures": {
        "classes": true
    },
    "plugins": [
        "import"
    ],
    "extends": "airbnb",
    "settings": {
        "import/resolver": "webpack"
    },
    "globals": {
        "window": true,
        "MAPCONTRIB": true
    },
    "rules": {
        "indent": [0, 4],
        "no-underscore-dangle": 0,
        "array-bracket-spacing": 0,
        "no-console": [2, { allow: ["warn", "error"] }],
        "space-in-parens": 0,
        "no-continue": 0,
        "no-restricted-syntax": [0, "FunctionExpression", "WithStatement"],
        # "comma-dangle": 0,
        # "no-alert": "off",
        # "brace-style": 0,
        # "max-len": [1, 120],
        # "object-curly-spacing": 0
    }
}
