{
    "parser": "babel-eslint",
    "plugins": [
        "import",
        "jest"
    ],
    "extends": [
        "eslint:recommended",
        "prettier"
    ],
    "settings": {
        "import/resolver": "webpack"
    },
    "env": {
        "es6": true,
        "browser": true,
        "node": true,
        "jest": true
    },
    "globals": {
        "MAPCONTRIB": true,
        "$": true,
        "L": true,
    }
}
