{
    "all": true,
    "report-dir": false,
    "require": [
        "babel-core/register"
    ],
    "exclude": [
        "node_modules",
        "**/*.bundle.js",
        "test/**/*.js",
        "webpack.config.js"
    ]
}
