<section id="delete_confirmation_modal" class="pop_modal">
    <div class="pop colored white">
        <header>
            <button type="button" class="btn btn-link btn-lg close_btn">
                <i class="fa fa-close"></i>
            </button>
        </header>


        <div class="container-fluid content">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="append-xs-2" data-l10n-id="contribDeleteModal_title"></h2>

                    <p data-l10n-id="contribDeleteModal_text1"></p>
                    <p data-l10n-id="contribDeleteModal_text2"></p>

                    <section class="prepend-xs-3">
                      <button class="btn btn-danger pull-right" id="confirmationBtn" data-l10n-id="contribDeleteModal_confirmTheDeletion"></button>
                      <button class="btn btn-default" id="cancelBtn" data-l10n-id="cancel"></button>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>
