<div class="input-group">
    <textarea class="form-control" placeholder="<%- placeholder %>"><%- value %></textarea>
    <div class="input-group-btn vertical-align-top">
        <button type="button" class="btn btn-danger remove_btn" tabindex="-1"><i class="fa fa-fw fa-trash"></i></button>
    </div>
</div>
