
<section class="contextual top red">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <p class="prepend-xs-1 append-xs-1 text-center" data-l10n-id="newPoiPlacementContextual_text"></p>
                <button type="button" class="btn btn-default cancel_btn" data-l10n-id="cancel"></button>
                <button type="button" class="btn btn-primary pull-right next_btn" data-l10n-id="next"></button>
            </div>
        </div>
    </div>
</section>
