<section class="column right red">
    <header>
        <button type="button" class="btn btn-link btn-lg pull-right close_btn">
            <i class="fa fa-close"></i>
        </button>

        <h2 data-l10n-id="contribColumn_title"></h2>
    </header>

    <div class="container-fluid content sticky">
        <div class="row sticky-header">
            <div class="col-xs-12">
                <div class="rg_search_input"></div>
            </div>
        </div>
        <div class="row sticky-inner">
            <div class="col-xs-12">
                <p class="no_result hide" data-l10n-id="noResult"></p>
                <div class="rg_presets_nav append-xs-1"></div>
            </div>
        </div>
        <div class="row sticky-footer">
            <div class="col-xs-12">
                <button type="button" class="btn btn-default btn-block free_addition_btn" data-l10n-id="contribColumn_freeAddition"></button>
            </div>
        </div>
    </div>
</section>
