<section class="column right orange">
    <header>
        <button type="button" class="btn btn-link btn-lg pull-right close_btn">
            <i class="fa fa-close"></i>
        </button>

        <h2 data-l10n-id="overPassCacheModifications"></h2>
    </header>

    <div id="preact"></div>

</section>
