<div class="form-group append-xs-2">
    <div class="rg_key"></div>
    <div class="rg_value"></div>
    <div class="help-block form-group-help-block non_osm_warning hide" data-l10n-id="uiFormNodeTags_nonOsmContributionWarning"></div>
</div>
