<div class="form-group append-xs-2">
    <div class="rg_key"></div>
    <div class="rg_value"></div>
    <div class="help-block form-group-help-block non_osm_warning hide" data-l10n-id="uiFormNodeTags_nonOsmContributionWarning"></div>
    <div class="form-group">
        <div class="checkbox">
            <input type="checkbox" id="display_raw_tag_<%- cid %>" class="display_raw_tag" value="1">
            <label for="display_raw_tag_<%- cid %>" data-l10n-id="uiFormNodeTags_displayRawTag"></label>
        </div>
    </div>
</div>
