<div class="input-group">
    <input type="number" class="form-control" data-l10n-id="uiFormNodeTags_value" value="<%- value %>">
    <div class="input-group-btn">
        <button type="button" class="btn btn-danger remove_btn" tabindex="-1"><i class="fa fa-fw fa-trash"></i></button>
    </div>
</div>
