<section class="column right orange">
    <header>
        <button type="button" class="btn btn-link btn-lg pull-right close_btn">
            <i class="fa fa-close"></i>
        </button>

        <h2 data-l10n-id="overPassCacheArchives"></h2>
    </header>

    <form>
        <div class="container-fluid content sticky">
            <div class="row sticky-inner">
                <div class="col-xs-12">
                    <p>
                        Chaque couche OverPass dispose d'un cache activable dans sa configuration. Il permet de récupérer leurs données en amont et des les afficher plus rapidement sur le thème.
                    </p>
                    <p>
                        L'archivage de ce cache vous permet de décider de garder ou supprimer les POI qui seraient supprimés d'OSM alors qu'ils étaient présent dans votre cache.
                    </p>
                </div>
            </div>
        </div>
    </form>
</section>
