<section id="temp_layer_column" class="column right red">
    <header>
        <button type="button" class="btn btn-link btn-lg pull-right close_btn">
            <i class="fa fa-close"></i>
        </button>

        <h2 data-l10n-id="tempLayerListColumn_title"></h2>
    </header>

    <div class="container-fluid content">
        <div class="row append-xs-2">
            <div class="col-xs-12">
                <p data-l10n-id="tempLayerListColumn_description"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="rg_layer_list"></div>

                <div class="sticky-footer">
                    <button type="button" class="btn btn-primary btn-block add_btn" data-l10n-id="editLayerListColumn_addLayer"></button>
                </div>
            </div>
        </div>
    </div>
</section>
