<input class="form-control ui-input-search" type="search" autocomplete="off" placeholder="<%= placeholder %>">
<div class="icon-wrapper">
    <i class="icon ion-search"></i>
    <div class="spinner hide"></div>
</div>
