<div class="reorder_icon">
    <i class="fa fa-fw fa-bars"></i>
</div>
<div class="pull-left">
    <%= leftIcon %>
</div>
<%= label %>
<div class="pull-right">
    <%= rightIcon %>
</div>
<button type="button" class="btn remove_btn">
    <i class="fa fa-trash"></i>
</button>
