<div class="reorder_icon">
    <i class="fa fa-fw fa-bars"></i>
</div>
<button type="button" class="btn navigate_btn">
    <i class="fa fa-fw fa-chevron-right"></i>
</button>
<div class="pull-left">
    <%= leftIcon %>
</div>
<div class="pull-right progression hide"></div>
<div class="pull-right">
    <%= rightIcon %>
</div>
<%= label %>
<button type="button" class="btn remove_btn">
    <i class="fa fa-fw fa-trash"></i>
</button>
