<option value="text" data-l10n-id="tagTypeText"></option>
<option value="number" data-l10n-id="tagTypeNumber"></option>
<option value="email" data-l10n-id="tagTypeEmail"></option>
<option value="tel" data-l10n-id="tagTypeTel"></option>
<option value="url" data-l10n-id="tagTypeUrl"></option>
<option value="textarea" data-l10n-id="tagTypeTextarea"></option>
