<option value="text" data-l10n-id="text"></option>
<option value="number" data-l10n-id="number"></option>
<option value="email" data-l10n-id="email"></option>
<option value="tel" data-l10n-id="tel"></option>
<option value="url" data-l10n-id="url"></option>
<option value="textarea" data-l10n-id="textarea"></option>
<option value="check" data-l10n-id="checkbox"></option>
