<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title data-l10n-id="pageTitle">MapContrib</title>

    <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/img/favicon/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon/manifest.json">

    <link rel="localization" href="/locale/manifest.json">
</head>
<body>

<header class="main_header append-xs-1 colored blue">
    <div class="container">
        <div class="row prepend-xs-1 prepend-sm-2 append-xs-1 append-sm-2">
            <div class="col-xs-6">
                <img src="/img/logo.png" alt="MapContrib" class="img-responsive png logo" />
                <img src="/img/logo.svg" alt="MapContrib" class="img-responsive svg logo" />
            </div>
            <div class="col-xs-6">
                <button type="button" class="btn btn-default home_menu_btn pull-right">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
        </div>
        <div class="row append-xs-1">
            <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-sm-offset-1 col-md-offset-2 col-lg-offset-3">
                <input name="q" id="q" class="form-control input-lg search" type="search" placeholder="Rechercher un thème">
                <label for="q"><i class="icon ion-search"></i></label>
            </div>
        </div>
    </div>
</header>




<section id="rg_root"></section>

<link rel="stylesheet" href="/css/bundle.css" charset="utf-8">

<script type="text/javascript">

    var user = <%- user %>;

</script>
<script type="text/javascript" charset="utf-8" src="/js/home.bundle.js"></script>

</body>
</html>
