<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title data-l10n-id="pageTitle">MapContrib</title>

    <link rel="shortcut icon" href="/img/favicon.ico" type="image/vnd.microsoft.icon" />

    <link rel="localization" href="/locale/manifest.json">

    <style type="text/css">

    html, body {
        background-color: #eeeeec;
    }

    .empty-state {
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -64px;
        margin-left: -64px;
        width: 128px;
        height: 128px;
    }

    </style>
</head>
<body>

<p class="text-center">
    <img src="/img/logo.png" alt="MapContrib" />
</p>
<p class="text-center">
    <a href="#" class="btn btn-primary">Créer un thème</a>
</p>
<section id="rg_root">
    <img class="empty-state" src="/img/empty_state.gif" alt="" />
</section>

<link rel="stylesheet" href="/css/bundle.css" charset="utf-8">
<script type="text/javascript" charset="utf-8" src="/js/home.bundle.js"></script>

</body>
</html>
