<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title data-l10n-id="pageTitle">Rudomap</title>

	<link rel="shortcut icon" href="img/favicon.ico" type="image/vnd.microsoft.icon" />

	<link rel="localization" href="locale/manifest.json">

	<link type="text/css" rel="stylesheet" media="all" href="css/libraries.css" />
	<link type="text/css" rel="stylesheet" media="all" href="css/app.css" />
</head>
<body>

<section id="rg_root"></section>

<script type="text/javascript">

	var user = <%- user %>,
	profile = <%- profile %>,
	poiLayers = <%- poiLayers %>;

</script>
<script type="text/javascript" charset="utf-8" src="js/require.js" data-main="js/app"></script>

</body>
</html>
