@import 'font/fira.css';
@import 'font/voltaire.css';
@import 'font/charissil.css';
/* Functions */
/* Colors */
/* Dimensions */
/* Layers */
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
.control-label {
  font-family: 'Fira Sans';
  font-weight: normal;
}
.nowrap {
  white-space: nowrap;
}
input[disabled],
select[disabled],
textarea[disabled],
.form-control[disabled],
input[readonly],
select[readonly],
textarea[readonly],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: default;
}
button,
.btn,
.nav > li > a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
input,
select,
textarea,
.form-control,
fieldset .form-control {
  border-color: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
input:hover,
select:hover,
textarea:hover,
.form-control:hover,
fieldset .form-control:hover,
input.focus,
select.focus,
textarea.focus,
.form-control.focus,
fieldset .form-control.focus,
input:focus,
select:focus,
textarea:focus,
.form-control:focus,
fieldset .form-control:focus,
input.active,
select.active,
textarea.active,
.form-control.active,
fieldset .form-control.active,
input:active,
select:active,
textarea:active,
.form-control:active,
fieldset .form-control:active {
  border-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
#main_map {
  position: fixed;
  z-index: 1000;
  top: 40px;
  bottom: 0;
  left: 0;
  right: 0;
}
#main_map .leaflet-popup-content-wrapper {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
#main_map .leaflet-control-minZoomIndicator {
  display: none !important;
}
#title {
  position: fixed;
  z-index: 1040;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  -webkit-transition: all ease-out 0.3s;
  -moz-transition: all ease-out 0.3s;
  -ms-transition: all ease-out 0.3s;
  -o-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
}
#title h1 {
  display: inline-block;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  font-size: 20px;
  line-height: 40px;
  margin: 0;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transition: all ease-out 0.3s;
  -moz-transition: all ease-out 0.3s;
  -ms-transition: all ease-out 0.3s;
  -o-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
}
#title .description_btn {
  color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  padding: 8px 12px 10px 12px;
}
#title .description_btn:hover,
#title .description_btn:focus,
#title .description_btn.focus,
#title .description_btn:active,
#title .description_btn.active {
  color: #fff;
}
#title .description {
  display: none;
  margin-top: 60px;
  white-space: pre;
  animation-duration: .4s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
#title.open {
  height: 100%;
}
#title.open h1 {
  left: 0;
  -webkit-transform: translate(0, 30px);
  -moz-transform: translate(0, 30px);
  -ms-transform: translate(0, 30px);
  -o-transform: translate(0, 30px);
  transform: translate(0, 30px);
  font-size: 36px;
  line-height: 50px;
  max-width: none;
  white-space: normal;
  overflow: visible;
}
#title.open .description {
  display: block;
  animation-name: appear;
  animation-direction: normal;
}
#title.blue,
.btn-color.blue,
#title.purple,
.btn-color.purple,
#title.turquoise,
.btn-color.turquoise,
#title.orange,
.btn-color.orange,
#title.green,
.btn-color.green,
#title.red,
.btn-color.red,
#title.anthracite,
.btn-color.anthracite {
  color: #fff;
}
#title.blue,
.btn-color.blue {
  background: #38b8e2;
}
#title.purple,
.btn-color.purple {
  background: #553445;
}
#title.turquoise,
.btn-color.turquoise {
  background: #00b6ad;
}
#title.orange,
.btn-color.orange {
  background: #f8981d;
}
#title.green,
.btn-color.green {
  background: #1d9650;
}
#title.red,
.btn-color.red {
  background: #e85657;
}
#title.anthracite,
.btn-color.anthracite {
  background: #3b3f45;
}
#title.white,
.btn-color.white {
  background: #fff;
  color: #3b3f45;
}
.btn-color {
  border-color: rgba(255, 255, 255, 0.8);
}
.btn-color:hover,
.btn-color:focus,
.btn-color.focus,
.btn-color:active,
.btn-color.active {
  color: #fff;
}
.btn-color.white:hover,
.btn-color.white:focus,
.btn-color.white.focus,
.btn-color.white:active,
.btn-color.white.active {
  color: #3b3f45;
}
.toolbar {
  position: fixed;
  z-index: 1010;
  width: 63px;
}
.toolbar .btn {
  width: 63px;
  height: 63px;
  font-size: 1.6em;
  padding: 10px 16px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
#control_toolbar {
  position: fixed;
  top: 40px;
  left: 0;
  width: 63px;
}
#control_toolbar .btn {
  width: 63px;
  height: 63px;
  font-size: 1.6em;
  padding: 10px 16px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  color: #3b3f45;
  background: #fff;
}
#help_toolbar {
  bottom: 0;
  left: 0;
}
#help_toolbar .help_btn {
  background: #fff;
  color: #38b8e2;
}
#user_toolbar {
  top: 40px;
  right: 0;
}
#user_toolbar .btn {
  color: #fff;
}
#user_toolbar .login_btn {
  background: #38b8e2;
}
#user_toolbar .user_btn {
  background: #38b8e2;
  font-weight: bold;
}
#user_toolbar .user_btn.avatar {
  border: none;
  padding: 0;
  overflow: hidden;
}
#user_toolbar .user_btn.avatar img {
  max-height: 100%;
}
#user_toolbar .link_btn {
  background: #1f9f55;
}
#user_toolbar .contrib_btn {
  background: #e85657;
}
#user_toolbar .edit_btn {
  background: #f8981d;
}
#edit_toolbar {
  top: 301px;
  right: -63px;
  -webkit-transition: transform ease-out 0.2s;
  -moz-transition: transform ease-out 0.2s;
  -ms-transition: transform ease-out 0.2s;
  -o-transition: transform ease-out 0.2s;
  transition: transform ease-out 0.2s;
}
#edit_toolbar.open {
  -webkit-transform: translate(-100%, 0);
  -moz-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  -o-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
}
#edit_toolbar .btn {
  color: #fff;
}
#edit_toolbar .setting_btn,
#edit_toolbar .poi_btn,
#edit_toolbar .tile_btn {
  background: #f8981d;
}
.column {
  position: fixed;
  z-index: 1030;
  top: 40px;
  bottom: 0;
  left: 100%;
  width: 300px;
  max-width: 100%;
  -webkit-transition: transform ease-out 0.2s;
  -moz-transition: transform ease-out 0.2s;
  -ms-transition: transform ease-out 0.2s;
  -o-transition: transform ease-out 0.2s;
  transition: transform ease-out 0.2s;
  color: #fff;
}
.column.open {
  -webkit-transform: translate(-100%, 0);
  -moz-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  -o-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
}
.column a {
  color: #fff;
  text-decoration: underline;
}
.column a:hover,
.column a:active,
.column a.active,
.column a:focus,
.column a.focus,
.column a.btn {
  text-decoration: none;
}
.column .nav a {
  text-decoration: none;
}
.column header {
  height: 50px;
  border: 1px solid transparent;
}
.column header h2 {
  font-size: 24px;
  line-height: 50px;
  margin: 0 0 0 10px;
}
.column header .close_btn {
  color: #fff;
}
.column .content {
  position: absolute;
  top: 70px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}
.column .content input,
.column .content .btn-primary {
  border-color: transparent;
}
.column .content .btn-primary,
.column .content .nav a {
  color: #fff;
}
.column .content .btn-default {
  background: transparent;
  border-color: rgba(255, 255, 255, 0.4);
  color: #fff;
}
.column .content .help-block {
  color: #fff;
}
.column .content .table-bordered,
.column .content .table-bordered th,
.column .content .table-bordered td {
  border-color: #fff;
}
.column .content textarea {
  resize: vertical;
}
.column .content .control-label + .radio {
  margin-top: 0;
}
.column .content .form-group-footer {
  position: sticky;
  bottom: 0;
  padding: 16px 0;
  margin: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}
#user_column {
  background: #22b0df;
}
#user_column .content .btn-primary,
#user_column .content .nav a {
  background: #1c98c1;
}
#user_column .content .btn-primary:hover,
#user_column .content .nav a:hover,
#user_column .content .btn-primary:active,
#user_column .content .nav a:active,
#user_column .content .btn-primary.active,
#user_column .content .nav a.active,
#user_column .content .btn-primary:focus,
#user_column .content .nav a:focus,
#user_column .content .btn-primary.focus,
#user_column .content .nav a.focus {
  background: #198aaf;
}
#user_column .content .btn-default:hover,
#user_column .content .btn-default:active,
#user_column .content .btn-default.active,
#user_column .content .btn-default:focus,
#user_column .content .btn-default.focus {
  background: #5cc5e7;
}
#user_column .content .form-group-footer {
  background: #22b0df;
}
#link_column {
  background: #198145;
}
#link_column .content .btn-primary,
#link_column .content .nav a {
  background: #156b39;
}
#link_column .content .btn-primary:hover,
#link_column .content .nav a:hover,
#link_column .content .btn-primary:active,
#link_column .content .nav a:active,
#link_column .content .btn-primary.active,
#link_column .content .nav a.active,
#link_column .content .btn-primary:focus,
#link_column .content .nav a:focus,
#link_column .content .btn-primary.focus,
#link_column .content .nav a.focus {
  background: #115a30;
}
#link_column .content .btn-default:hover,
#link_column .content .btn-default:active,
#link_column .content .btn-default.active,
#link_column .content .btn-default:focus,
#link_column .content .btn-default.focus {
  background: #1f9f55;
}
#link_column .content .form-group-footer {
  background: #198145;
}
#contrib_column {
  background: #e54041;
}
#contrib_column .content .btn-primary,
#contrib_column .content .nav a {
  background: #cc1c1d;
}
#contrib_column .content .btn-primary:hover,
#contrib_column .content .nav a:hover,
#contrib_column .content .btn-primary:active,
#contrib_column .content .nav a:active,
#contrib_column .content .btn-primary.active,
#contrib_column .content .nav a.active,
#contrib_column .content .btn-primary:focus,
#contrib_column .content .nav a:focus,
#contrib_column .content .btn-primary.focus,
#contrib_column .content .nav a.focus {
  background: #ba191a;
}
#contrib_column .content .btn-default:hover,
#contrib_column .content .btn-default:active,
#contrib_column .content .btn-default.active,
#contrib_column .content .btn-default:focus,
#contrib_column .content .btn-default.focus {
  background: #ea6364;
}
#contrib_column .content .form-group-footer {
  background: #e54041;
}
#edit_setting_column,
#edit_poi_column,
#edit_tile_column {
  background: #f48c08;
}
#edit_setting_column .content .btn-primary,
#edit_poi_column .content .btn-primary,
#edit_tile_column .content .btn-primary,
#edit_setting_column .content .nav a,
#edit_poi_column .content .nav a,
#edit_tile_column .content .nav a {
  background: #db7e07;
}
#edit_setting_column .content .btn-primary:hover,
#edit_poi_column .content .btn-primary:hover,
#edit_tile_column .content .btn-primary:hover,
#edit_setting_column .content .nav a:hover,
#edit_poi_column .content .nav a:hover,
#edit_tile_column .content .nav a:hover,
#edit_setting_column .content .btn-primary:active,
#edit_poi_column .content .btn-primary:active,
#edit_tile_column .content .btn-primary:active,
#edit_setting_column .content .nav a:active,
#edit_poi_column .content .nav a:active,
#edit_tile_column .content .nav a:active,
#edit_setting_column .content .btn-primary.active,
#edit_poi_column .content .btn-primary.active,
#edit_tile_column .content .btn-primary.active,
#edit_setting_column .content .nav a.active,
#edit_poi_column .content .nav a.active,
#edit_tile_column .content .nav a.active,
#edit_setting_column .content .btn-primary:focus,
#edit_poi_column .content .btn-primary:focus,
#edit_tile_column .content .btn-primary:focus,
#edit_setting_column .content .nav a:focus,
#edit_poi_column .content .nav a:focus,
#edit_tile_column .content .nav a:focus,
#edit_setting_column .content .btn-primary.focus,
#edit_poi_column .content .btn-primary.focus,
#edit_tile_column .content .btn-primary.focus,
#edit_setting_column .content .nav a.focus,
#edit_poi_column .content .nav a.focus,
#edit_tile_column .content .nav a.focus {
  background: #c77306;
}
#edit_setting_column .content .btn-default:hover,
#edit_poi_column .content .btn-default:hover,
#edit_tile_column .content .btn-default:hover,
#edit_setting_column .content .btn-default:active,
#edit_poi_column .content .btn-default:active,
#edit_tile_column .content .btn-default:active,
#edit_setting_column .content .btn-default.active,
#edit_poi_column .content .btn-default.active,
#edit_tile_column .content .btn-default.active,
#edit_setting_column .content .btn-default:focus,
#edit_poi_column .content .btn-default:focus,
#edit_tile_column .content .btn-default:focus,
#edit_setting_column .content .btn-default.focus,
#edit_poi_column .content .btn-default.focus,
#edit_tile_column .content .btn-default.focus {
  background: #f9aa45;
}
#edit_setting_column .content .form-group-footer,
#edit_poi_column .content .form-group-footer,
#edit_tile_column .content .form-group-footer {
  background: #f48c08;
}
#tip_of_the_day {
  position: fixed;
  z-index: 1020;
  bottom: 0;
  left: 100%;
  width: 500px;
  max-width: 100%;
  -webkit-transition: transform ease-out 0.2s;
  -moz-transition: transform ease-out 0.2s;
  -ms-transition: transform ease-out 0.2s;
  -o-transition: transform ease-out 0.2s;
  transition: transform ease-out 0.2s;
  background: #3b3f45;
  color: #fff;
}
#tip_of_the_day.open {
  -webkit-transform: translate(-100%, 0);
  -moz-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  -o-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
}
#tip_of_the_day a {
  color: #fff;
  text-decoration: underline;
}
#tip_of_the_day a:hover,
#tip_of_the_day a:active,
#tip_of_the_day a.active,
#tip_of_the_day a:focus,
#tip_of_the_day a.focus,
#tip_of_the_day a.btn {
  text-decoration: none;
}
#tip_of_the_day .btn {
  background: #23262a;
  color: #fff;
}
#tip_of_the_day .btn:hover,
#tip_of_the_day .btn:active,
#tip_of_the_day .btn.active,
#tip_of_the_day .btn:focus,
#tip_of_the_day .btn.focus {
  background: #1a1c1f;
}
#tip_of_the_day p {
  text-align: justify;
}
/* .modal is reserved by Bootstrap */
.pop_modal {
  position: fixed;
  z-index: 1050;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  -webkit-transition: opacity ease-out 0.2s;
  -moz-transition: opacity ease-out 0.2s;
  -ms-transition: opacity ease-out 0.2s;
  -o-transition: opacity ease-out 0.2s;
  transition: opacity ease-out 0.2s;
}
.pop_modal .pop {
  background: #fff;
  position: fixed;
  z-index: 1050;
  top: 50%;
  left: 50%;
  width: 500px;
  max-width: 100%;
  -webkit-transition: transform ease-out 0.2s;
  -moz-transition: transform ease-out 0.2s;
  -ms-transition: transform ease-out 0.2s;
  -o-transition: transform ease-out 0.2s;
  transition: transform ease-out 0.2s;
  -webkit-transform: translate(-50%, -45%);
  -moz-transform: translate(-50%, -45%);
  -ms-transform: translate(-50%, -45%);
  -o-transform: translate(-50%, -45%);
  transform: translate(-50%, -45%);
  padding: 30px 15px;
}
.pop_modal.open {
  opacity: 1;
}
.pop_modal.open .pop {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#help {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1040;
  width: 0;
  height: 0;
  overflow: auto;
  -webkit-transition: all ease-out 0.3s;
  -moz-transition: all ease-out 0.3s;
  -ms-transition: all ease-out 0.3s;
  -o-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
  background: #fff;
}
#help h2 {
  font-size: 36px;
}
#help .close_btn {
  position: fixed;
  top: 0;
  right: 0;
  color: #3b3f45;
}
#help h2,
#help p,
#help .close_btn {
  display: none;
  animation-duration: .4s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
#help.open {
  width: 100%;
  height: 100%;
}
#help.open h2,
#help.open p,
#help.open .close_btn {
  display: block;
  animation-name: appear;
  animation-direction: normal;
}
