
@media screen and (max-width: 600px) {
    html, body {
        background-color: darken(@blue, 5%);
    }
}


.main_header .logo {
    margin-top: 4px;
    margin-bottom: 3px;
    min-width: 140px;
}


input.search {
    padding-left: 36px;
}

input.search + label .icon {
    position: absolute;
    left: 28px;
    top: 8px;
    cursor: text;
    font-size: 22px;
    color: darken(@darkGray, 10%);
}
