
@import 'variables.less';

.toolbar {

    position: fixed;
    width: @toolbarBtnSize;
    z-index: @toolbarZIndex;
    transition: transform ease-out .2s;

    &.left {

        left: 0;
        transform: translate(-100%, 0);
    }

    &.right {

        right: 0;
        transform: translate(100%, 0);
    }

    &.open {

        transform: translate(0, 0);
    }

    .btn {

        width: @toolbarBtnSize;
        height: @toolbarBtnSize;
        font-size: 25px;
        line-height: 25px;
        padding: 0;
        border-radius: 0;
    }
}


#control_toolbar {

    z-index: @toolbarControlZIndex;
    top: @titleHeight;

    .btn {

        color: @anthracite;
        background: #fff;
    }

    .zoom_in_btn.glow {

        i {

            animation-duration: 4s;
            animation-fill-mode: both;
            animation-iteration-count: infinite;
            animation-name: glow;
        }
    }
}

@keyframes glow {

    50% {

        color: @lightBlue;
    }
}


#help_toolbar {

    bottom: 0;

    &.on_top {

        z-index: @modalZIndex + 1;
    }

    .help_btn {

        background: #fff;
        color: @blue;
    }
}


#user_toolbar {

    top: @titleHeight;

    .btn {

        color: #fff;
    }

    .login_btn {

        background: @blue;
    }

    .user_btn {

        background: @blue;
        font-weight: bold;

        &.avatar {

            border: none;
            padding: 0;
            overflow: hidden;

            img {

                max-height: 100%;
            }
        }
    }

    .link_btn {

        background: @lightGreen;
    }

    .contrib_btn {

        background: @red;
    }

    .edit_btn {

        background: @orange;
    }
}


#edit_toolbar {

    z-index: @toolbarZIndex;
    top: @titleHeight + (@toolbarBtnSize * 4) + 9;

    .btn {

        color: #fff;
    }

    .setting_btn,
    .poi_btn,
    .tile_btn {

        background: @orange;
    }
}
