<a class="ui-theme-thumb-theme" href="<%- href %>">
    <h2 class="title colored <%- color %>">
        <%- name %>
    </h2>
    <div class="ui-theme-thumb-markers">
        <img class="ui-theme-thumb-tile-1" src="http://a.tile.openstreetmap.fr/osmfr/9/265/181.png" alt="" />
        <img class="ui-theme-thumb-tile-2" src="http://a.tile.openstreetmap.fr/osmfr/9/266/181.png" alt="" />
    </div>
</a>
