<section class="column right orange">
    <header>
        <button type="button" class="btn btn-link btn-lg pull-right close_btn">
            <i class="fa fa-close"></i>
        </button>

        <h2 data-l10n-id="editAdministratorColumn_addAdministrator"></h2>
    </header>

    <form>
        <div class="container-fluid content sticky">
            <div class="row sticky-inner">
                <div class="col-xs-12">
                    <div class="form-group append-xs-2">
                        <label for="displayName" class="control-label" data-l10n-id="editAdministratorColumn_typeDisplayName"></label>
                        <div class="rg_search_input"></div>
                    </div>
                </div>
                <div class="col-xs-12">
                  <p class="placeholder_no_result text-center hide" data-l10n-id="noResult"></p>
                  <div class="rg_search_results"></div>
                </div>
            </div>

            <div class="row sticky-footer">
                <div class="col-xs-12">
                    <a href="#admin/setting/administrator" class="btn btn-default btn-block" data-l10n-id="cancel"></a>
                </div>
            </div>
        </div>
    </form>
</section>
