<section class="column left white">
    <header>
        <button type="button" class="btn btn-link btn-lg pull-right close_btn">
            <i class="fa fa-close"></i>
        </button>

        <h2 data-l10n-id="selectTileColumn_title"></h2>
    </header>

    <div class="container-fluid content">
        <div class="row">
            <div class="col-xs-12">
                <div class="tile_list"></div>
                <div class="text-center prepend-xs-2 display_more">
                    <button type="button" class="btn btn-default" data-l10n-id="selectTileColumn_displayMoreTiles"></button>
                </div>
            </div>
        </div>
    </div>
</section>
