<div class="container">
    <div class="row prepend-xs-2 prepend-sm-4 append-xs-2 append-lg-3">
        <div class="col-xs-12 text-center">
            <img src="/img/dead_end.png" alt="DEAD END" class="png dead_end" />
            <img src="/img/dead_end.svg" alt="DEAD END" class="svg dead_end" />
        </div>
    </div>
    <div class="row prepend-xs-2">
        <div class="col-xs-12 text-center">
            <p data-l10n-id="pageNotFound_explanation"></p>
        </div>
    </div>
    <div class="row prepend-xs-1">
        <div class="col-xs-12 text-center">
            <a href="/" class="btn btn-default" data-l10n-id="goBackToHome"></a>
        </div>
    </div>
</div>
