<section id="duplicate_theme_modal" class="pop_modal">
    <div class="pop colored white">
        <div class="container-fluid content">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <i class="fa fa-files-o"></i>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 prepend-xs-2 text-center">
                    <p class="text-center" data-l10n-id="duplicateThemeModal_text1"></p>
                    <p class="text-center" data-l10n-id="duplicateThemeModal_text2"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 prepend-xs-2">
                    <button type="button" class="btn btn-default close_btn" data-l10n-id="close"></button>
                    <a href="/duplicate_theme/<%- fragment %>" class="btn btn-primary pull-right" data-l10n-id="duplicateThatTheme"></a>
                </div>
            </div>
        </div>
    </div>
</section>
