<section id="edit_poi_column" class="column right red">
    <header>
        <button type="button" class="btn btn-link btn-lg pull-right close_btn">
            <i class="fa fa-close"></i>
        </button>

        <h2 data-l10n-id="editPoiColumn_title"></h2>
    </header>

    <form action="<%- apiPath %>?fragment=<%- fragment %>" method="post" enctype="multipart/form-data">
        <div class="container-fluid content">
            <div class="row prepend-sticky-footer">
                <div class="col-xs-12">
                    <section class="form-group move_section hide">
                        <button type="button" data-l10n-id="editPoiColumn_movePoi" class="btn btn-primary btn-block move_btn"></button>
                        <hr>
                    </section>
                    <div class="rg_tag_list">
                        <p data-l10n-id="editPoiColumn_emptyState"></p>
                    </div>
                </div>
            </div>
            <div class="row sticky-footer">
                <div class="col-xs-12">
                    <button type="button" class="btn btn-default add_btn" data-l10n-id="contribColumn_addTag"></button>
                    <button type="submit" class="btn btn-primary pull-right save_btn" data-l10n-id="save"></button>
                </div>
            </div>
        </div>
    </form>
</section>
