<section id="edit_layer_column" class="column right orange">
    <header>
        <button type="button" class="btn btn-link btn-lg pull-right close_btn">
            <i class="fa fa-close"></i>
        </button>

        <h2 data-l10n-id="editLayerListColumn_title"></h2>
    </header>

    <div class="container-fluid content sticky">
        <div class="row sticky-inner">
            <div class="col-xs-12">
                <div class="rg_list"></div>
            </div>
        </div>
        <div class="row sticky-footer">
            <div class="col-xs-12">
                <button type="button" class="btn btn-primary btn-block add_btn" data-l10n-id="editLayerListColumn_addLayer"></button>
            </div>
        </div>
    </div>
</section>
