<section id="edit_tile_column" class="column right orange">
    <header>
        <button type="button" class="btn btn-link btn-lg pull-right close_btn">
            <i class="fa fa-close"></i>
        </button>

        <h2 data-l10n-id="editTileColumn_title"></h2>
    </header>

    <form>
        <div class="container-fluid content">
            <div class="row prepend-sticky-footer">
                <div class="col-xs-12">
                    <div class="tile_list"></div>
                </div>
            </div>
            <div class="row sticky-footer">
                <div class="col-xs-12">
                    <button type="reset" class="btn btn-default" data-l10n-id="cancel"></button>
                    <button type="submit" class="btn btn-primary pull-right" data-l10n-id="save"></button>
                </div>
            </div>
        </div>
    </form>
</section>
