<section id="edit_tile_column" class="column right orange">
    <header>
        <button type="button" class="btn btn-link btn-lg pull-right close_btn">
            <i class="fa fa-close"></i>
        </button>

        <h2 data-l10n-id="editTileColumn_title"></h2>
    </header>

    <div class="container-fluid content">
        <div class="row">
            <div class="col-xs-12">
                <form>
                    <div class="tile_list"></div>

                    <div class="sticky-footer">
                        <button type="reset" class="btn btn-default" data-l10n-id="cancel"></button>
                        <button type="submit" class="btn btn-primary pull-right" data-l10n-id="save"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
