
<section id="geojson_error_notification" class="notification right red">
    <header>
        <button type="button" class="btn btn-link btn-lg close_btn">
            <i class="fa fa-close"></i>
        </button>
    </header>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h3 data-l10n-id="geoJsonErrorNotification_title"></h3>
                <p class="content"></p>
                <p class="error"></p>
            </div>
        </div>
    </div>
</section>
