<header class="main_header">
    <div class="container">
        <div class="row prepend-xs-1 prepend-sm-2 append-xs-1 append-lg-2">
            <div class="col-xs-6">
                <img src="/img/logo_white.png" alt="MapContrib" class="png logo" />
                <img src="/img/logo_white.svg" alt="MapContrib" class="svg logo" />
            </div>
            <div class="col-xs-6">
                <a href="#user" class="btn btn-default pull-right menu_btn">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h1 class="text-center" data-l10n-id="slogan">
                    <a href="https://openstreetmap.org" rel="noopener noreferrer" target="_blank" class="openstreetmap"></a>
                </h1>
            </div>
        </div>
    </div>
</header>

<section class="container scroll_target">
    <div class="row prepend-xs-1 append-xs-1 append-sm-2">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <div class="rg_search_input"></div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-xs-12 append-xs-3 hide no_result">
            <p class="prepend-xs-1 append-xs-1">
                <i class="icon ion-sad-outline"></i>
            </p>
            <p data-l10n-id="noResult"></p>
        </div>
        <div class="col-xs-12 append-xs-3 hide characters_left">
            <p class="prepend-xs-1 append-xs-1">
                <i class="icon ion-more"></i>
            </p>
            <p class="text"></p>
        </div>
    </div>
    <div id="rg_search_results" class="append-xs-1"></div>
</section>
