<header class="main_header append-xs-1">
    <div class="container">
        <div class="row prepend-xs-1 prepend-sm-2 append-xs-1 append-lg-2">
            <div class="col-xs-6">
                <img src="/img/logo_white.png" alt="MapContrib" class="png logo" />
                <img src="/img/logo_white.svg" alt="MapContrib" class="svg logo" />
            </div>
            <div class="col-xs-6">
                <!-- <div class="dropdown pull-right">
                    <button type="button" class="btn btn-default dropdown-toggle home_menu_btn" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="fa fa-bars"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                        <li><a href="#" data-l10n-id="login"></a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#" data-l10n-id="aboutMapContrib"></a></li>
                    </ul>
                </div> -->
                <button type="button" class="btn btn-primary pull-right create_theme_btn">
                    <span class="visible-xs"><i class="fa fa-plus"></i></span>
                    <span class="hidden-xs" data-l10n-id="createATheme"></span>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h1 class="text-center" data-l10n-id="slogan">
                    <a href="https://openstreetmap.org" rel="noopener noreferrer" target="_blank" class="openstreetmap"></a>
                </h1>
            </div>
        </div>
    </div>
</header>

<section class="container">
    <div class="row append-sm-1">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <div class="rg_search_input append-xs-2"></div>
        </div>
    </div>
    <div class="append-xs-1 text-center hide no_result">
        <p class="prepend-xs-1 append-xs-1">
            <i class="icon ion-sad-outline"></i>
        </p>
        <p class="append-xs-1" data-l10n-id="noResult"></p>
    </div>
    <div class="append-xs-1 text-center hide characters_left">
        <p class="prepend-xs-1 append-xs-1">
            <i class="icon ion-more"></i>
        </p>
        <p class="append-xs-1 text"></p>
    </div>
    <div id="rg_search_results" class="append-xs-1"></div>
</section>
