<section class="info_display_column column right white">
    <header>
        <button type="button" class="btn btn-link btn-lg pull-right close_btn">
            <i class="fa fa-close"></i>
        </button>

        <h2 data-l10n-id="infoDisplayColumn_title"></h2>
    </header>

    <div class="container-fluid content sticky">
        <div class="row sticky-inner">
            <div class="col-xs-12">
                <div class="info_content"></div>
            </div>
            <div class="col-xs-12 relations hide">
                <h3 data-l10n-id="infoDisplayColumn_relationsTitle"></h3>
                <div class="list"></div>
            </div>
        </div>
        <div class="row sticky-footer hide">
            <div class="col-xs-12">
                <a href="#<%= editRoute %>" class="btn btn-default btn-block edit_btn" data-l10n-id="editThatElement"></a>
            </div>
        </div>
    </div>
</section>
