
<header id="rg_main_title"></header>

<div id="main_map"></div>


<section id="left_toolbar" class="toolbar left open">
    <section id="control_toolbar">
        <button type="button" class="btn toolbar_btn zoom_in_btn" data-l10n-id="buttonZoomInTooltip" data-placement="right">
            <i class="icon ion-plus"></i>
        </button>

        <button type="button" class="btn toolbar_btn zoom_out_btn" data-l10n-id="buttonZoomOutTooltip" data-placement="right">
            <i class="icon ion-minus"></i>
        </button>

        <div class="zoom_level append-xs-tiny"></div>

        <button type="button" class="btn toolbar_btn geocode_btn" data-l10n-id="buttonGeocodeTooltip" data-placement="right">
            <i class="icon ion-search"></i>
            <div class="spinner hide"></div>
        </button>

        <button type="button" class="btn toolbar_btn locate_btn" data-l10n-id="buttonLocateTooltip" data-placement="right">
            <i class="icon ion-android-locate"></i>
        </button>

        <button type="button" class="btn toolbar_btn locate_wait_btn hide" data-l10n-id="buttonLocateWaitTooltip" data-placement="right">
            <div class="spinner"></div>
        </button>

        <button type="button" class="btn toolbar_btn expand_screen_btn" data-l10n-id="buttonExpandScreenTooltip" data-placement="right">
            <i class="icon ion-arrow-expand"></i>
        </button>

        <button type="button" class="btn toolbar_btn compress_screen_btn hide" data-l10n-id="buttonCompressScreenTooltip" data-placement="right">
            <i class="icon ion-arrow-shrink"></i>
        </button>

        <button type="button" class="btn toolbar_btn layer_btn" data-l10n-id="buttonLayerTooltip" data-placement="right">
            <i class="icon ion-social-buffer"></i>
            <div class="spinner hide"></div>
        </button>

        <button type="button" class="btn toolbar_btn tile_btn" data-l10n-id="buttonTileTooltip" data-placement="right">
            <i class="icon ion-map"></i>
        </button>
    </section>
</section>


<section id="right_toolbar" class="toolbar right open">
    <section id="user_toolbar">
        <button type="button" class="btn toolbar_btn user_btn" data-l10n-id="buttonUserTooltip" data-placement="left">
            <i class="icon ion-happy-outline"></i>
        </button>

        <button type="button" class="btn toolbar_btn link_btn" data-l10n-id="buttonLinkTooltip" data-placement="left">
            <i class="icon ion-android-share-alt"></i>
        </button>
    </section>
    <section id="contrib_toolbar">
        <button type="button" class="btn toolbar_btn temp_layer_btn" data-l10n-id="buttonTempLayerTooltip" data-placement="left">
            <i class="icon ion-social-buffer"></i>
            <span class="fa-stack">
                <i class="fa fa-circle fa-stack-1x"></i>
                <i class="fa fa-clock-o fa-stack-1x"></i>
            </span>
        </button>

        <button type="button" class="btn toolbar_btn contrib_btn hide" data-l10n-id="buttonContribTooltip" data-placement="left">
            <i class="icon ion-edit"></i>
        </button>
    </section>


    <section id="edit_toolbar" class="open hide">
        <a href="#admin/setting" class="btn toolbar_btn setting_btn" data-l10n-id="buttonEditSettingTooltip" data-placement="left">
            <i class="icon ion-android-options"></i>
        </a>

        <button type="button" class="btn toolbar_btn layer_btn" data-l10n-id="buttonEditLayerTooltip" data-placement="left">
            <i class="icon ion-social-buffer"></i>
        </button>

        <button type="button" class="btn toolbar_btn tile_btn" data-l10n-id="buttonEditTileTooltip" data-placement="left">
            <i class="icon ion-map"></i>
        </button>

        <a href="#admin/preset" class="btn toolbar_btn preset_btn" data-l10n-id="buttonEditPresetTooltip" data-placement="left">
            <i class="icon ion-location"></i>
        </a>

        <a href="#admin/tag" class="btn toolbar_btn tag_btn" data-l10n-id="buttonEditTagTooltip" data-placement="left">
            <i class="icon ion-pricetags"></i>
        </a>
    </section>
</section>


<div class="contribution_cross"></div>


<section id="notification_container"></section>



<section id="rg_geocode_widget"></section>
<section id="rg_select_layer_column"></section>
<section id="rg_select_tile_column"></section>
<section id="rg_user_column"></section>
<section id="rg_visitor_column"></section>
<section id="rg_link_column"></section>
<section id="rg_temp_layer_column"></section>
<section id="rg_add_temp_layer_menu_column"></section>
<section id="rg_edit_temp_layer_column"></section>
<section id="rg_contrib_column"></section>
<section id="rg_contrib_form_column"></section>
<section id="rg_edit_layer_column"></section>
<section id="rg_add_layer_menu_column"></section>
<section id="rg_edit_poi_layer_column"></section>
<section id="rg_edit_poi_marker_modal"></section>
<section id="rg_edit_tile_column"></section>

<section id="rg_zoom_notification"></section>
