<section class="column right blue">
    <header>
        <button type="button" class="btn btn-link btn-lg pull-right close_btn">
            <i class="fa fa-close"></i>
        </button>

        <h2 data-l10n-id="userColumn_title"></h2>
    </header>

    <div class="container-fluid content">
        <div class="row">
            <div class="col-xs-12">
                <nav class="go_back_to_home_nav hide append-xs-2">
                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation"><a href="/" data-l10n-id="goBackToHome"></a></li>
                    </ul>
                </nav>
                <nav class="append-xs-2">
                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation">
                            <a href="/create_theme">
                                <div class="pull-right right_icon"><i class="fa fa-plus"></i></div>
                                <span data-l10n-id="createATheme"></span>
                            </a>
                        </li>
                        <li role="presentation" class="duplicate_item hide">
                            <a href="#duplicate-theme">
                                <div class="pull-right right_icon"><i class="fa fa-files-o"></i></div>
                                <span data-l10n-id="duplicateTheme"></span>
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#my-favorites">
                                <div class="pull-right right_icon"><i class="fa fa-star"></i></div>
                                <span data-l10n-id="favorites"></span>
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#my-themes">
                                <div class="pull-right right_icon"><i class="fa fa-map"></i></div>
                                <span data-l10n-id="myThemes"></span>
                            </a>
                        </li>
                        <li role="presentation" class="logout_item">
                            <a href="#logout">
                                <div class="pull-right right_icon"><i class="fa fa-sign-out"></i></div>
                                <span data-l10n-id="logout"></span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <nav>
                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation"><a href="https://github.com/MapContrib/MapContrib/issues" target="_blank" rel="noopener noreferrer" data-l10n-id="reportBug"></a></li>
                        <li role="presentation"><a class="blog_link" href="https://blog.mapcontrib.xyz/feedback/" target="_blank" rel="noopener noreferrer" data-l10n-id="sendFeedback"></a></li>
                        <li role="presentation"><a href="#about" data-l10n-id="about"></a></li>
                        <li role="presentation"><a class="blog_link" href="https://blog.mapcontrib.xyz" target="_blank" rel="noopener noreferrer" data-l10n-id="mapcontribBlog"></a></li>
                        <li role="presentation"><a href="http://wiki.openstreetmap.org/wiki/FR:Mapcontrib" target="_blank" rel="noopener noreferrer" data-l10n-id="wiki"></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
