<section class="column right orange">
    <header>
        <button type="button" class="btn btn-link btn-lg pull-right close_btn">
            <i class="fa fa-close"></i>
        </button>

        <h2 data-l10n-id="editLayerFormColumn_title"></h2>
    </header>

    <form>
        <div class="container-fluid content sticky">
            <div class="row sticky-inner">
                <div class="col-xs-12">
                    <div class="form-group append-xs-2">
                        <label for="layer_name" class="control-label" data-l10n-id="editLayerFormColumn_layerName"></label>
                        <input type="text" spellcheck="true" class="form-control" id="layer_name" value="<%- name %>">
                    </div>

                    <div class="form-group append-xs-2">
                        <label for="layer_description" class="control-label" data-l10n-id="editLayerFormColumn_layerDescription"></label>
                        <textarea spellcheck="true" class="form-control" id="layer_description" rows="2"><%- description %></textarea>
                        <div class="help-block" data-l10n-id="markdownAvailable"><a rel="noopener noreferrer" target="_blank" href="https://en.wikipedia.org/wiki/Markdown"></a></div>
                    </div>

                    <div class="form-group append-xs-2">
                        <label for="layer_popup_content" class="control-label" data-l10n-id="editLayerFormColumn_layerPopupContent"></label>
                        <a tabindex="0" role="button" class="info_btn info_info_display_btn pull-right">
                            <i class="fa fa-info-circle fa-lg"></i>
                        </a>
                        <textarea rows="3" class="form-control font-monospace" id="layer_popup_content"><%- popupContent %></textarea>
                        <div class="help-block" data-l10n-id="markdownAvailable"><a rel="noopener noreferrer" target="_blank" href="https://en.wikipedia.org/wiki/Markdown"></a></div>
                    </div>
                </div>
            </div>
            <div class="row sticky-footer">
                <div class="col-xs-12">
                    <button type="reset" class="btn btn-default" data-l10n-id="cancel"></button>
                    <button type="submit" class="btn btn-primary pull-right submit_btn" data-l10n-id="save"></button>
                </div>
            </div>
        </div>
    </form>
</section>
