<div class="form-group append-xs-2">
    <label for="<%- id %>" class="control-label"><%- label %></label>
    <input id="<%- id %>" type="text" spellcheck="false" class="form-control" value="<%- value %>">
</div>
