<div class="form-group append-xs-2 value_group">
    <div class="row">
        <div class="col-xs-5">
            <input type="text" spellcheck="false" class="form-control value_label" data-l10n-id="tagValue" value="<%- label %>" />
        </div>
        <div class="col-xs-7">
            <div class="input-group">
                <input type="text" spellcheck="false" class="form-control value_value" data-l10n-id="tagValueTranslation" value="<%- value %>" />
                <div class="input-group-btn">
                    <button type="button" class="btn btn-danger remove_value_btn"><i class="fa fa-trash"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
