<a class="top_link" href="<%- href %>">
    <div class="pull-left left_icon hide"><%= leftIcon %></div>
    <div class="pull-right right_icon hide"><%= rightIcon %></div>
    <%- label%>

    <div class="help-block description hide"></div>
    <div class="progression hide"></div>
</a>
