.nav-pills.nav-stacked {
    .left_icon,
    .right_icon {
        opacity: 0.8;
    }

    .left_icon {
        margin-right: 10px;
    }

    .right_icon {
        margin-left: 10px;
    }

    .progression {
        width: 16px;
        height: 16px;
        margin-top: 3px;
        margin-left: 10px;
    }
}
