<label class="control-label" data-l10n-id="uiColorSelector_label"></label>
<div class="color-buttons">
    <button type="button" class="btn btn-xs btn-color-selector green" data-color="green"><i class="fa fa-fw"></i></button>
    <button type="button" class="btn btn-xs btn-color-selector turquoise" data-color="turquoise"><i class="fa fa-fw"></i></button>
    <button type="button" class="btn btn-xs btn-color-selector blue" data-color="blue"><i class="fa fa-fw"></i></button>
    <button type="button" class="btn btn-xs btn-color-selector purple" data-color="purple"><i class="fa fa-fw"></i></button>
    <button type="button" class="btn btn-xs btn-color-selector red" data-color="red"><i class="fa fa-fw"></i></button>
    <button type="button" class="btn btn-xs btn-color-selector brown" data-color="brown"><i class="fa fa-fw"></i></button>
    <button type="button" class="btn btn-xs btn-color-selector orange" data-color="orange"><i class="fa fa-fw"></i></button>
    <button type="button" class="btn btn-xs btn-color-selector yellow" data-color="yellow"><i class="fa fa-fw"></i></button>
    <button type="button" class="btn btn-xs btn-color-selector white" data-color="white"><i class="fa fa-fw"></i></button>
    <button type="button" class="btn btn-xs btn-color-selector gray" data-color="gray"><i class="fa fa-fw"></i></button>
    <button type="button" class="btn btn-xs btn-color-selector anthracite" data-color="anthracite"><i class="fa fa-fw"></i></button>
    <button type="button" class="btn btn-xs btn-color-selector black" data-color="black"><i class="fa fa-fw"></i></button>
</div>
