<section class="column right orange">
    <header>
        <button type="button" class="btn btn-link btn-lg pull-right close_btn">
            <i class="fa fa-close"></i>
        </button>

        <h2 data-l10n-id="editSettingColumn_title"></h2>
    </header>

    <form>
        <div class="container-fluid content">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation"><a href="#admin/setting/main" data-l10n-id="mainSettings"></a></li>
                        <li role="presentation"><a href="#admin/setting/tile" data-l10n-id="tiles"></a></li>
                        <li role="presentation"><a href="#admin/setting/cache-archive" data-l10n-id="overPassCacheArchives"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </form>
</section>
