<section class="column right orange">
    <header>
        <button type="button" class="btn btn-link btn-lg pull-right close_btn">
            <i class="fa fa-close"></i>
        </button>

        <h2 data-l10n-id="editSettingColumn_title"></h2>
    </header>

    <form>
        <div class="container-fluid content">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation">
                            <a href="#admin/setting/main">
                                <div class="pull-right right_icon"><i class="fa fa-cogs"></i></div>
                                <span data-l10n-id="mainSettings"></span>
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#admin/setting/tile">
                                <div class="pull-right right_icon"><i class="fa fa-map"></i></div>
                                <span data-l10n-id="tiles"></span>
                            </a>
                        </li>
                        <li role="presentation" class="cache_archive hide">
                            <a href="#admin/setting/cache-archive">
                                <div class="pull-right right_icon"><i class="fa fa-archive"></i></div>
                                <span data-l10n-id="overPassCacheArchives"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </form>
</section>
