<section id="about_modal" class="pop_modal">
    <div class="pop colored white">
        <header>
            <button type="button" class="btn btn-link btn-lg close_btn">
                <i class="fa fa-close"></i>
            </button>
        </header>


        <div class="container-fluid content">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="append-xs-2" data-l10n-id="aboutTitle"></h2>

                    <p data-l10n-id="aboutText1"></p>
                    <p data-l10n-id="aboutText2"><a href="https://www.openstreetmap.org"></a></p>
                    <p data-l10n-id="aboutText3"><a href="https://www.openstreetmap.org/copyright"></a></p>
                    <p data-l10n-id="aboutText4"></p>

                    <ul>
                        <li><a href="http://umap.openstreetmap.fr">uMap</a></li>
                        <li><a href="http://openbeermap.github.io">OpenBeerMap</a></li>
                        <li><a href="http://osmose.openstreetmap.fr">Osmose</a></li>
                        <li><a href="http://wheelmap.org">Wheelmap</a></li>
                        <li><a href="http://www.osmhydrant.org">OSM Hydrant</a></li>
                    </ul>

                    <p class="prepend-xs-2 text-center">
                        <a href="http://gironde.fr"><img class="append-xs-1" alt="Département de la Gironde" title="Département de la Gironde" src="/img/partners/gironde.png"></a>
                        <a href="http://numetlib.fr"><img class="append-xs-1" alt="Num&amp;Lib" title="Num&amp;Lib" src="/img/partners/numlib.png"></a>
                        <a href="http://coopalpha.coop"><img class="append-xs-1" alt="Coop'Alpha" title="Coop'Alpha" src="/img/partners/coopalpha.png"></a>
                    </p>

                    <hr>

                    <p class="text-center"><%= aboutTextVersion %></p>
                </div>
            </div>
        </div>
    </div>
</section>
