<section id="add_layer_menu_column" class="column right orange">
    <header>
        <button type="button" class="btn btn-link btn-lg pull-right close_btn">
            <i class="fa fa-close"></i>
        </button>

        <h2 data-l10n-id="addLayerMenuColumn_title"></h2>
    </header>

    <div class="container-fluid content">
        <div class="row">
            <div class="col-xs-12">
                <nav>
                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation"><a href="#" data-l10n-id="addLayerMenuColumn_overPass" class="overpass_item"></a></li>
                        <li role="presentation"><a href="#" data-l10n-id="addLayerMenuColumn_gpx" class="gpx_item"></a></li>
                        <li role="presentation"><a href="#" data-l10n-id="addLayerMenuColumn_csv" class="csv_item"></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
