
<section id="contribution_error_notification" class="notification right red">
	<header>
		<button type="button" class="btn btn-link btn-lg close_btn">
			<i class="fa fa-close"></i>
		</button>
	</header>

	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<h3 data-l10n-id="contributionErrorNotification_title"></h3>
				<div class="content">
					<p class="append-xs-1" data-l10n-id="contributionErrorNotification_content"></p>
					<button type="button" class="btn btn-default close_btn" data-l10n-id="close"></button>
					<button type="button" class="btn btn-primary pull-right retry_btn" data-l10n-id="contributionErrorNotification_retry"></button>
				</div>
			</div>
		</div>
	</div>
</section>
