<section id="edit_poi_marker_modal" class="pop_modal">
	<div class="pop no_padding">
		<div class="container-fluid content">
			<div class="row">
				<div class="col-sm-3" style="background: red">
					<img src="img/osm_128.png" alt="OpenStreetMap" width="128" height="128" class="img-responsive center-block" />
				</div>
				<div class="col-sm-9">

					<form>

						<ul class="nav nav-tabs" role="tablist">
							<li role="presentation" class="active"><a href="#marker_color_and_shape" aria-controls="marker_color_and_shape" role="tab" data-toggle="tab" data-l10n-id="editPoiMarkerModal_colorAndShape"></a></li>
							<li role="presentation"><a href="#marker_icon" aria-controls="marker_icon" role="tab" data-toggle="tab" data-l10n-id="editPoiMarkerModal_icon"></a></li>
						</ul>

						<div class="tab-content prepend-xs-1 append-xs-1">
							<div role="tabpanel" class="tab-pane fade in active" id="marker_color_and_shape">

								<div class="form-group">
									<label class="control-label" data-l10n-id="editPoiMarkerModal_color"></label>
									<div class="colorButtons">
										<button type="button" class="btn btn-xs btn-marker-color green" data-color="green"><div><i class="fa fa-fw"></i></div></button>
										<button type="button" class="btn btn-xs btn-marker-color blue" data-color="blue"><div><i class="fa fa-fw"></i></div></button>
										<button type="button" class="btn btn-xs btn-marker-color purple" data-color="purple"><div><i class="fa fa-fw"></i></div></button>
										<button type="button" class="btn btn-xs btn-marker-color red" data-color="red"><div><i class="fa fa-fw"></i></div></button>
										<button type="button" class="btn btn-xs btn-marker-color orange" data-color="orange"><div><i class="fa fa-fw"></i></div></button>
										<button type="button" class="btn btn-xs btn-marker-color yellow" data-color="yellow"><div><i class="fa fa-fw"></i></div></button>
										<button type="button" class="btn btn-xs btn-marker-color brown" data-color="brown"><div><i class="fa fa-fw"></i></div></button>
										<button type="button" class="btn btn-xs btn-marker-color gray" data-color="gray"><div><i class="fa fa-fw"></i></div></button>
										<button type="button" class="btn btn-xs btn-marker-color dark-gray" data-color="darkGrey"><div><i class="fa fa-fw"></i></div></button>
									</div>
								</div>

								<div class="form-group">
									<label class="control-label" data-l10n-id="editPoiMarkerModal_shape"></label>
								</div>
							</div>
							<div role="tabpanel" class="tab-pane fade" id="marker_icon">

							</div>
						</div>

						<div class="form-group">
							<button type="reset" class="btn btn-default" data-l10n-id="cancel"></button>
							<button type="submit" class="btn btn-primary pull-right" data-l10n-id="save"></button>
						</div>
					</form>

				</div>
			</div>
		</div>
	</div>
</section>
