<section id="edit_poi_data_column" class="column right red">
	<header>
		<button type="button" class="btn btn-link pull-right close_btn">
			<i class="fa fa-close"></i>
		</button>

		<h2 data-l10n-id="editPoiDataColumn_title"></h2>
	</header>

	<div class="container-fluid content">
		<div class="row">
			<div class="col-xs-12">
				<form>
					<div class="fields"></div>
					<div class="form-group sticky-footer">
						<button type="submit" class="btn btn-primary" data-l10n-id="save"></button>
						<button type="reset" class="btn btn-default pull-right" data-l10n-id="cancel"></button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
