<section id="edit_poi_marker_modal" class="pop_modal">
	<div class="pop">
		<div class="container-fluid content">
			<div class="row">
				<div class="col-xs-3">
					<img src="img/osm_128.png" alt="OpenStreetMap" width="128" height="128" class="img-responsive center-block" />
				</div>
				<div class="col-xs-9">
					<div class="colorButtons">
						<button type="button" class="btn btn-xs btn-marker-color green" data-color="green"><div><i class="fa fa-fw"></i></div></button>
						<button type="button" class="btn btn-xs btn-marker-color blue" data-color="blue"><div><i class="fa fa-fw"></i></div></button>
						<button type="button" class="btn btn-xs btn-marker-color purple" data-color="purple"><div><i class="fa fa-fw"></i></div></button>
						<button type="button" class="btn btn-xs btn-marker-color red" data-color="red"><div><i class="fa fa-fw"></i></div></button>
						<button type="button" class="btn btn-xs btn-marker-color orange" data-color="orange"><div><i class="fa fa-fw"></i></div></button>
						<button type="button" class="btn btn-xs btn-marker-color yellow" data-color="yellow"><div><i class="fa fa-fw"></i></div></button>
						<button type="button" class="btn btn-xs btn-marker-color brown" data-color="brown"><div><i class="fa fa-fw"></i></div></button>
						<button type="button" class="btn btn-xs btn-marker-color gray" data-color="gray"><div><i class="fa fa-fw"></i></div></button>
						<button type="button" class="btn btn-xs btn-marker-color dark-gray" data-color="darkGrey"><div><i class="fa fa-fw"></i></div></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
