<section id="edit_poi_layer_column" class="column right orange">
	<header>
		<button type="button" class="btn btn-link btn-lg pull-right close_btn">
			<i class="fa fa-close"></i>
		</button>

		<h2 data-l10n-id="editPoiLayerColumn_title"></h2>
	</header>

	<div class="container-fluid content">
		<div class="row">
			<div class="col-xs-12">
				<form>
					<div class="form-group append-xs-1">
						<label for="layer_name" class="control-label" data-l10n-id="editPoiLayerColumn_layerName"></label>
						<input type="text" class="form-control" id="layer_name" value="<%= name %>">
					</div>

					<div class="form-group append-xs-1">
						<label for="layer_description" class="control-label" data-l10n-id="editPoiLayerColumn_layerDescription"></label>
						<textarea rows="1" class="form-control" id="layer_description"><%= description %></textarea>
						<div class="help-block" data-l10n-id="markdownAvailable"><a target="_blank" href="https://en.wikipedia.org/wiki/Markdown"></a></div>
					</div>

					<div class="form-group append-xs-1">
						<label class="control-label" data-l10n-id="editPoiLayerColumn_data"></label>
						<div class="checkbox">
							<input type="checkbox" id="layer_data_editable" value="1" checked>
							<label for="layer_data_editable" data-l10n-id="editPoiLayerColumn_dataEditable"></label>
						</div>
					</div>

					<div class="form-group append-xs-1">
						<label for="layer_overpass_request" class="control-label" data-l10n-id="editPoiLayerColumn_layerOverpassRequest"></label>
						<textarea rows="7" class="form-control font-monospace" id="layer_overpass_request"><%= overpassRequest %></textarea>
					</div>

					<div class="form-group append-xs-1">
						<label class="control-label" data-l10n-id="editPoiLayerColumn_marker"></label>
						<div class="marker-form-widget">
							<div class="marker-wrapper">
								<%= marker %>
							</div>
							<button type="button" class="btn btn-default edit_marker_btn" data-l10n-id="customize"></button>
						</div>
					</div>

					<div class="form-group append-xs-1">
						<label for="layer_popup_content" class="control-label" data-l10n-id="editPoiLayerColumn_layerPopupContent"></label>
						<textarea rows="3" class="form-control font-monospace" id="layer_popup_content"><%= popupContent %></textarea>
						<div class="help-block" data-l10n-id="markdownAvailable"><a target="_blank" href="https://en.wikipedia.org/wiki/Markdown"></a></div>
					</div>

					<div class="form-group sticky-footer">
						<button type="submit" class="btn btn-primary" data-l10n-id="save"></button>
						<button type="reset" class="btn btn-default pull-right" data-l10n-id="cancel"></button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
