<section class="info_display_modal pop_modal">
    <div class="pop white">
        <div class="container-fluid content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="info_content"></div>

                    <div class="sticky-footer hide">
                        <button type="button" class="btn btn-default btn-block edit_btn" data-l10n-id="editThatElement"></button>
                    </div>
                </div>
        </div>
    </div>
</section>
