<section class="info_display_modal pop_modal">
    <div class="pop white">
        <div class="container-fluid content">
            <div class="row">
                <div class="col-xs-12 info_content"></div>
            </div>
        </div>
    </div>
</section>
