<section id="link_column" class="column">
	<header>
		<button type="button" class="btn btn-link pull-right close_btn">
			<i class="fa fa-close"></i>
		</button>

		<h2 data-l10n-id="linkColumn_title"></h2>
	</header>

	<div class="container-fluid content">
		<div class="row">
			<div class="col-xs-12 append-xs-tiny">
				<p data-l10n-id="linkColumn_publicProfile"></p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<p data-l10n-id="linkColumn_linkLabel"></p>
				<form>
					<div class="form-group">
						<input type="text" class="form-control" readonly="readonly">
					</div>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<p data-l10n-id="linkColumn_integrateCode"></p>
				<form>
					<div class="form-group">
						<textarea class="form-control" readonly="readonly"></textarea>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
