<section id="login_modal" class="pop_modal">
	<div class="pop">
		<div class="container-fluid content">
			<div class="row">
				<div class="col-xs-12">
					<img src="img/osm_128.png" alt="OpenStreetMap" width="128" height="128" class="img-responsive center-block" />
					<p class="text-center" data-l10n-id="loginModal_explanation"></p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 prepend-xs-1">
					<button type="button" class="btn btn-default close_btn" data-l10n-id="close"></button>
					<a href="/auth?authCallback=<%- authCallback %>" class="btn btn-primary pull-right hidden-xs" data-l10n-id="loginOrSubscribe"></a>
					<a href="/auth?authCallback=<%- authCallback %>" class="btn btn-primary pull-right visible-xs" data-l10n-id="login"></a>
				</div>
			</div>
		</div>
	</div>
</section>
