
<header id="title">
	<h1>Nom du profil</h1>
</header>


<div id="main_map"></div>


<section id="control_toolbar" class="toolbar">
	<button type="button" class="btn toolbar_btn zoom_in_btn" title="Vue rapprochée" data-toggle="tooltip" data-placement="right">
		<i class="fa fa-fw fa-plus"></i>
	</button>

	<button type="button" class="btn toolbar_btn zoom_out_btn append-xs-tiny" title="Vue éloignée" data-toggle="tooltip" data-placement="right">
		<i class="fa fa-fw fa-minus"></i>
	</button>

	<button type="button" class="btn toolbar_btn locate_btn append-xs-tiny" title="Afficher mon emplacement" data-toggle="tooltip" data-placement="right">
		<i class="fa fa-fw fa-location-arrow"></i>
	</button>

	<button type="button" class="btn toolbar_btn expand_screen_btn append-xs-tiny" title="Passer en plein écran" data-toggle="tooltip" data-placement="right">
		<i class="fa fa-fw fa-expand"></i>
	</button>

	<button type="button" class="btn toolbar_btn compress_screen_btn append-xs-tiny hide" title="Quitter le plein écran" data-toggle="tooltip" data-placement="right">
		<i class="fa fa-fw fa-compress"></i>
	</button>

	<button type="button" class="btn toolbar_btn poi_btn" title="Centres d'intérêt" data-toggle="tooltip" data-placement="right">
		<i class="fa fa-fw fa-map-marker"></i>
	</button>

	<button type="button" class="btn toolbar_btn tile_btn" title="Fonds de carte" data-toggle="tooltip" data-placement="right">
		<i class="fa fa-fw fa-th-large"></i>
	</button>
</section>


<section id="help_toolbar" class="toolbar">
	<button type="button" class="btn toolbar_btn help_btn" title="Aide" data-toggle="tooltip" data-placement="right">
		<i class="fa fa-fw fa-question-circle"></i>
	</button>
</section>


<section id="user_toolbar" class="toolbar">
	<button type="button" class="btn toolbar_btn login_btn" title="Se connecter" data-toggle="tooltip" data-placement="left">
		<i class="fa fa-fw fa-user"></i>
	</button>

	<button type="button" class="btn toolbar_btn user_btn hide" title="Mon compte" data-toggle="tooltip" data-placement="left">
		<i class="fa fa-fw fa-user"></i>
	</button>

	<button type="button" class="btn toolbar_btn link_btn" title="Partager" data-toggle="tooltip" data-placement="left">
		<i class="fa fa-fw fa-paper-plane"></i>
	</button>

	<button type="button" class="btn toolbar_btn contrib_btn" title="Ajouter un point d'intérêt manquant" data-toggle="tooltip" data-placement="left">
		<i class="fa fa-fw fa-thumb-tack"></i>
	</button>

	<button type="button" class="btn toolbar_btn edit_btn" title="Modifier le profil" data-toggle="tooltip" data-placement="left">
		<i class="fa fa-fw fa-pencil"></i>
	</button>
</section>


<section id="edit_toolbar" class="toolbar">
	<button type="button" class="btn toolbar_btn setting_btn" title="Configurer le profil" data-toggle="tooltip" data-placement="left">
		<i class="fa fa-fw fa-cog"></i>
	</button>

	<button type="button" class="btn toolbar_btn poi_btn" title="Modifier les centres d'intérêt" data-toggle="tooltip" data-placement="left">
		<i class="fa fa-fw fa-map-marker"></i>
	</button>

	<button type="button" class="btn toolbar_btn tile_btn" title="Modifier les fonds de carte" data-toggle="tooltip" data-placement="left">
		<i class="fa fa-fw fa-th-large"></i>
	</button>
</section>




<section id="rg_login_modal"></section>

<section id="rg_user_column"></section>
<section id="rg_link_column"></section>
<section id="rg_contrib_column"></section>
<section id="rg_edit_setting_column"></section>
<section id="rg_edit_poi_column"></section>
<section id="rg_edit_tile_column"></section>

<section id="rg_tip_of_the_day"></section>
