
<div id="main_map"></div>

<section id="control_toolbar">
	<button type="button" class="btn zoom_in_btn" title="Vue rapprochée" data-toggle="tooltip" data-placement="right">
		<i class="fa fa-fw fa-plus"></i>
	</button>

	<button type="button" class="btn zoom_out_btn append-xs-tiny" title="Vue éloignée" data-toggle="tooltip" data-placement="right">
		<i class="fa fa-fw fa-minus"></i>
	</button>

	<button type="button" class="btn locate_btn" title="Afficher mon emplacement" data-toggle="tooltip" data-placement="right">
		<i class="fa fa-fw fa-location-arrow"></i>
	</button>
</section>

<section id="edit_toolbar">
	<button type="button" class="btn user_btn" title="Se connecter" data-toggle="tooltip" data-placement="left">
		<i class="fa fa-fw fa-user"></i>
	</button>

	<button type="button" class="btn edit_btn" title="Modifier la carte" data-toggle="tooltip" data-placement="left">
		<i class="fa fa-fw fa-pencil"></i>
	</button>
</section>

<section id="edit_column" class="open">
	<header>
		<button type="button" class="btn btn-link pull-right close_btn">
			<i class="fa fa-close"></i>
		</button>

		<h2>Modifier la carte</h2>
	</header>

	<section class="content">

	</section>
</section>


<section id="help_toolbar">
	<button type="button" class="btn help_btn" title="Aide" data-toggle="tooltip" data-placement="top">
		<i class="fa fa-fw fa-question-circle"></i>
	</button>
</section>
