
<header id="rg_main_title"></header>

<div id="main_map"></div>


<section id="help_toolbar" class="toolbar left open">
    <button type="button" class="btn toolbar_btn help_btn" data-l10n-id="buttonHelpTooltip" data-placement="right">
        <i class="icon ion-help-buoy"></i>
    </button>
</section>


<section id="help" class="fullpage white">
    <button type="button" class="btn btn-link btn-lg close_btn">
        <i class="fa fa-close"></i>
    </button>


    <div class="container content">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
                <h2 class="prepend-xs-2 append-xs-2" data-l10n-id="helpTitle"></h2>

                <p data-l10n-id="helpText1"></p>
                <p data-l10n-id="helpText2"><a href="https://www.openstreetmap.org"></a></p>
                <p data-l10n-id="helpText3"><a href="https://www.openstreetmap.org/copyright"></a></p>
                <p data-l10n-id="helpText4"></p>

                <ul>
                    <li><a href="http://umap.openstreetmap.fr">uMap</a></li>
                    <li><a href="http://openbeermap.github.io">OpenBeerMap</a></li>
                    <li><a href="http://osmose.openstreetmap.fr">Osmose</a></li>
                    <li><a href="http://wheelmap.org">Wheelmap</a></li>
                    <li><a href="http://www.osmhydrant.org">OSM Hydrant</a></li>
                </ul>

                <p class="prepend-xs-2 text-center">
                    <a href="http://gironde.fr"><img class="append-xs-1" alt="Département de la Gironde" title="Département de la Gironde" src="img/partners/gironde.png"></a>
                    <a href="http://numetlib.fr"><img class="append-xs-1" alt="Num&amp;Lib" title="Num&amp;Lib" src="img/partners/numlib.png"></a>
                    <a href="http://coopalpha.coop"><img class="append-xs-1" alt="Coop'Alpha" title="Coop'Alpha" src="img/partners/coopalpha.png"></a>
                </p>
            </div>
        </div>
    </div>
</section>


<section id="control_toolbar" class="toolbar left open">
    <button type="button" class="btn toolbar_btn zoom_in_btn" data-l10n-id="buttonZoomInTooltip" data-placement="right">
        <i class="icon ion-plus"></i>
    </button>

    <button type="button" class="btn toolbar_btn zoom_out_btn append-xs-tiny" data-l10n-id="buttonZoomOutTooltip" data-placement="right">
        <i class="icon ion-minus"></i>
    </button>

    <button type="button" class="btn toolbar_btn geocode_btn" data-l10n-id="buttonGeocodeTooltip" data-placement="right">
        <i class="icon ion-search"></i>
    </button>

    <button type="button" class="btn toolbar_btn locate_btn append-xs-tiny" data-l10n-id="buttonLocateTooltip" data-placement="right">
        <i class="icon ion-android-locate"></i>
    </button>

    <button type="button" class="btn toolbar_btn locate_wait_btn append-xs-tiny hide" data-l10n-id="buttonLocateWaitTooltip" data-placement="right">
        <img src="img/locate_wait.gif" width="24" height="24" alt="">
    </button>

    <button type="button" class="btn toolbar_btn expand_screen_btn append-xs-tiny" data-l10n-id="buttonExpandScreenTooltip" data-placement="right">
        <i class="icon ion-arrow-expand"></i>
    </button>

    <button type="button" class="btn toolbar_btn compress_screen_btn append-xs-tiny hide" data-l10n-id="buttonCompressScreenTooltip" data-placement="right">
        <i class="icon ion-arrow-shrink"></i>
    </button>

    <button type="button" class="btn toolbar_btn poi_btn" data-l10n-id="buttonPoiTooltip" data-placement="right">
        <i class="icon ion-social-buffer"></i>
        <img src="img/locate_wait.gif" width="24" height="24" alt="" class="poi_loading hide">
    </button>

    <button type="button" class="btn toolbar_btn tile_btn" data-l10n-id="buttonTileTooltip" data-placement="right">
        <i class="icon ion-map"></i>
    </button>
</section>


<section id="user_toolbar" class="toolbar right open">
    <button type="button" class="btn toolbar_btn login_btn" data-l10n-id="buttonLoginTooltip" data-placement="left">
        <i class="icon ion-happy-outline"></i>
    </button>

    <button type="button" class="btn toolbar_btn user_btn hide" data-l10n-id="buttonUserTooltip" data-placement="left">
        <i class="icon ion-happy-outline"></i>
    </button>

    <button type="button" class="btn toolbar_btn link_btn" data-l10n-id="buttonLinkTooltip" data-placement="left">
        <i class="icon ion-android-share-alt"></i>
    </button>

    <button type="button" class="btn toolbar_btn contrib_btn hide" data-l10n-id="buttonContribTooltip" data-placement="left">
        <i class="icon ion-pinpoint"></i>
    </button>

    <button type="button" class="btn toolbar_btn edit_btn hide" data-l10n-id="buttonEditTooltip" data-placement="left">
        <i class="icon ion-wrench"></i>
    </button>
</section>


<section id="edit_toolbar" class="toolbar right">
    <button type="button" class="btn toolbar_btn setting_btn" data-l10n-id="buttonEditSettingTooltip" data-placement="left">
        <i class="icon ion-android-options"></i>
    </button>

    <button type="button" class="btn toolbar_btn poi_btn" data-l10n-id="buttonEditPoiTooltip" data-placement="left">
        <i class="icon ion-social-buffer"></i>
    </button>

    <button type="button" class="btn toolbar_btn tile_btn" data-l10n-id="buttonEditTileTooltip" data-placement="left">
        <i class="icon ion-map"></i>
    </button>
</section>


<section id="notification_container"></section>



<section id="rg_login_modal"></section>
<section id="rg_conflict_modal"></section>

<section id="rg_geocode_widget"></section>
<section id="rg_select_poi_column"></section>
<section id="rg_select_tile_column"></section>
<section id="rg_user_column"></section>
<section id="rg_link_column"></section>
<section id="rg_contrib_column"></section>
<section id="rg_edit_setting_column"></section>
<section id="rg_edit_poi_column"></section>
<section id="rg_edit_poi_layer_column"></section>
<section id="rg_edit_poi_marker_modal"></section>
<section id="rg_edit_tile_column"></section>
<section id="rg_edit_poi_data_column"></section>

<section id="rg_zoom_notification"></section>
