
<section id="new_poi_placement_contextual" class="contextual top red">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <p class="prepend-xs-1 append-xs-1 text-center" data-l10n-id="newPoiPlacementContextual_text"></p>
                <button type="button" class="btn btn-default back_btn" data-l10n-id="back"></button>
                <button type="button" class="btn btn-primary pull-right save_btn" data-l10n-id="save"></button>
            </div>
        </div>
    </div>
</section>
