<section id="select_poi_column" class="column left white">
    <header>
        <button type="button" class="btn btn-link btn-lg pull-right close_btn">
            <i class="fa fa-close"></i>
        </button>

        <h2 data-l10n-id="selectPoiColumn_title"></h2>
    </header>

    <div class="container-fluid content">
        <div class="row">
            <div class="col-xs-12">
                <p data-l10n-id="selectPoiColumn_explanation"></p>
                <p class="currentMapZoom"></p>
                <div class="rg_layer_list prepend-xs-1"></div>
            </div>
        </div>
    </div>
</section>
