<section id="share_column" class="column">
	<header>
		<button type="button" class="btn btn-link pull-right close_btn">
			<i class="fa fa-close"></i>
		</button>

		<h2 data-l10n-id="columnShareTitle">Share</h2>
	</header>

	<div class="container-fluid content">
		<div class="row">
			<div class="col-xs-12 append-xs-tiny">
				<p>
					Ce profil est accessible par tout le monde.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<p>
					Communiquez le lien ci-dessous&nbsp;:
				</p>
				<form>
					<div class="form-group">
						<input type="text" class="form-control" readonly="readonly">
					</div>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<p>
					Ou intégrez le code suivant à votre site internet&nbsp;:
				</p>
				<form>
					<div class="form-group">
						<textarea class="form-control" readonly="readonly"></textarea>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
