
<section id="tip_of_the_day" class="open">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<h3>Le saviez-vous ?</h3>
				<p>
					Il est possible de modifier cette carte est d'en enregistrer une copie dans votre profil !
				</p>
			</div>
		</div>
		<div class="row prepend-xs-tiny append-xs-tiny">
			<div class="col-xs-12">
				<button type="button"class="btn ok_btn">Oui, je le savais déjà</button>
				<button type="button"class="btn close_btn pull-right">Fermer</button>
			</div>
		</div>
	</div>
</section>
