
<section id="tip_of_the_day" class="open">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<h3>Le saviez-vous&nbsp;?</h3>
				<p>
					Il est possible d'utiliser cette carte pour améliorer <a href="https://openstreetmap.org" target="_blank">OpenStreetMap</a>&nbsp;!<br>
					Vous pouvez aussi récupérer ce profil et le modifier selon vos besoins.
				</p>
			</div>
		</div>
		<div class="row prepend-xs-tiny append-xs-tiny">
			<div class="col-xs-12">
				<button type="button"class="btn ok_btn">Je le savais déjà</button>
				<button type="button"class="btn close_btn pull-right">Fermer</button>
			</div>
		</div>
	</div>
</section>
