<section id="user_column" class="column">
	<header>
		<button type="button" class="btn toolbar_btn btn-link pull-right close_btn">
			<i class="fa fa-close"></i>
		</button>

		<h2>Connexion</h2>
	</header>

	<div class="container-fluid content">
		<div class="row">
			<div class="col-xs-12 append-xs-tiny">
				<p>
					Connectez-vous directement avec vos identifiants <a href="https://www.openstreetmap.org" target="_blank">OpenStreeMap</a>&nbsp;!
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<form>
					<div class="form-group">
						<input type="text" placeholder="Adresse e-mail ou nom d'utilisateur" class="form-control">
					</div>
					<div class="form-group">
						<input type="password" class="form-control">
					</div>
					<div class="form-group">
						<div class="checkbox">
							<label>
								<input type="checkbox"> Se souvenir de moi
							</label>
						</div>
					</div>
					<div class="form-group">
						<button type="submit" class="btn">Se connecter</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
