
<section id="zoom_notification" class="notification white">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <i class="fa fa-arrow-left pull-left"></i>

                <p class="content pull-left" data-l10n-id="zoomNotification_content"></p>

                <button type="button" class="btn btn-lg btn-link close_btn">
                    <i class="fa fa-close"></i>
                </button>
            </div>
        </div>
    </div>
</section>
