<div class="input-group">
    <div class="checkbox checkbox-inline">
        <input type="checkbox" name="check-<%- cid %>" id="check-yes-<%- cid %>" class="yes_checkbox" value="1">
        <label for="check-yes-<%- cid %>" data-l10n-id="yes"></label>
    </div>
    <div class="input-group-btn">
        <button type="button" class="btn btn-danger remove_btn" tabindex="-1"><i class="fa fa-fw fa-trash"></i></button>
    </div>
</div>
