<div class="input-group">
    <input type="text" class="form-control key" placeholder="<%- placeholder %>" value="<%- key %>">
    <div class="input-group-btn">
        <a rel="noopener noreferrer" target="_blank" class="btn btn-info tag_info_btn" tabindex="-1"><i class="fa fa-fw fa-info-circle"></i></a>
    </div>
</div>
